#addTaskButton{
    position: fixed;
    bottom: 5px;
    right: 5px;
    border-radius: 50%;
}
body{
    background-color: rgb(20,20,20);
    display: grid;
    grid-template-columns: 25% 25% 50%;
    color:white;
}
#catList{
    grid-column: 1;
}
#taskList{
    grid-column: 2;
}
#selectedTask{
    grid-column: 3;
}
